.card-contact{
    background-color: var(--color-cuatro) !important;
}

.line-bottom{
     border-bottom: 4px solid var(--color-dos) !important;
}

/* Estilos para el select y sus opciones */
.checkout-input option {
    background-color: var(--color-uno); /* Fondo igual a tus inputs */
    color: white; /* Texto blanco */
    padding: 10px;
}

/* TRUCO: Para evitar que el navegador use el estilo blanco por defecto 
   en algunos sistemas, a veces ayuda quitar el appearance (con cuidado)
*/

select.checkout-input {
    appearance: none; /* Quita la flecha por defecto si quieres poner una personalizada */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 16px 12px;
}
.btn-enviar {
    background-color: var(--color-dos);
    color: white;
    border: none;
    padding: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.btn-enviar:hover {
    background-color: var(--color-cinco);
    transform: translateY(-2px);
}