.nav-link:hover {
    border-bottom: 1px solid gray;
}

.form-control, .form-select {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
}

.form-control:focus, .form-select:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* ----- ESTILOS PARA EL NAVBAR ----- */
.item-catalogo,
.dropdown-menu,
.titulos{
    color: white;
    background-color: #1a1a1a;
}

.item-catalogo:hover {
    color: #1C1C24;
    background-color: white;
}

.pages-decoration {
    border: 1px solid #F5F5F0;
    border-radius: 7px;
}


/*Decoración de la opción activada del menú desplegable (catálogo)*/
.dropdown-item.active {
    background-color: rgba(255, 255, 255, 0.15) !important;
    color: #fff !important;
    border-radius: 6px; /* Bordes redondeados */
    margin: 0 5px; /* Un pequeño margen para que no toque los bordes */
    width: calc(100% - 10px); /* Ajuste del ancho por el margen */
}