:root{
    --color-uno: #1A1A1A;
    --color-dos: #d4a017;
    --color-tres: #F5F5F0;
    --color-cuatro: #1C1C24;
    --color-cinco: #E8C547;
    --color-seis: #C0392B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo{
    background: var(--color-uno);
}

.texto-rojo{
    color: var(--color-seis) !important;
}

.item-catalogo, .dropdown-menu, footer{
    color:white;
    background-color: #1a1a1a;
}
.item-catalogo:hover {
    color:#1C1C24;
    background-color: white;
}
.terms-decoration {
    border:1px solid #F5F5F0;
    border-radius: 7px;
}
